{% extends 'registration/base.html' %}

{% block title %}
  <title>SGC | Ingreso</title>
{% endblock title %}

{% block msg_error %}Usuario o contrase&ntilde;a incorrecta.{% endblock msg_error %}

{% block card_msg %}
  <p class="login-box-msg">Inicia sesi&oacute;n para comenzar.</p>
{% endblock card_msg %}

{% block form_content %}
<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="input-group mb-3">
    {{ form.username }}
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-user"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    {{ form.password }}
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- /.col -->
    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block">Iniciar sesi&oacute;n</button>
    </div>
    <!-- /.col -->
    <input type="hidden" name="next" value="{{ next }}" style="display:none;" />
  </div>
</form>
{% endblock form_content %}

{% block extra_urls %}
  <p class="mb-1">
    <a href="{% url 'password_reset' %}">Olvid&eacute; mi contrase&ntilde;a</a>
  </p>
{% endblock extra_urls %}
