{% extends 'registration/base.html' %}

{% block title %}
  <title>SGC | Recuperar contrase&ntilde;a</title>
{% endblock title %}

{% block card_msg %}
  <p class="login-box-msg">Tu contrase&ntilde;a se modific&oacute; correctamente!</p>
{% endblock card_msg %}

{% block extra_urls %}
  <p class="mb-1">
    <a href="{% url 'login' %}">Iniciar sesi&oacute;n</a>
  </p>
{% endblock extra_urls %}

{% block extra_body %}
  <!-- redirect to index -->
  <meta http-equiv="refresh" content="3; url={% url 'login' %}">
{% endblock extra_body %}