{% extends 'base_generic.html' %}

{% block title %}<title>Adquirir nuevas credenciales</title>{% endblock %}

{% block content %}
	{% if validlink %}
		<p>Por favor, ingresa (y confirma) tu nueva contraseña</p>
		<form action="" method="POST">
		{% csrf_token %}
			<table>
				<tr>
					<td>{{ form.new_password1.errors }}
						<label for='id_new_password1'>Nueva contraseña:</label></td>
					<td><input class="form-control" type="password" id="id_new_password1" name="new_password1" value="" /></td>
				</tr>
				<tr>
					<td>{{ form.new_password2.errors }}
						<label for='id_new_password2'>Confirmar contraseña:</label></td>
					<td><input class="form-control" type="password" id="id_new_password2" name="new_password2" value="" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Cambiar contraseña" /></td>
				</tr>
			</table>
		</form>
	{% else %}
		<h1>Fallo el reestablecimiento de la contraseña</h1>
		<p>El enlace de reestablecimiento de contraseña es invalido.<br />Probablemente ya fue usado, paracontinuar con la operacion pida otro reestablecimiento</p>
	{% endif %}
{% endblock %}
