{% extends 'registration/base.html' %}

{% block title %}
  <title>SGC | Recuperar contrase&ntilde;a</title>
{% endblock title %}

{% block msg_error %}Direcci&oacute;n de correo incorrecta.{% endblock msg_error %}

{% block card_msg %}
  <p class="login-box-msg">Olvidaste tu contraseña? Puedes crear una nueva ingresando tu correo.</p>
{% endblock card_msg %}

{% block form_content %}
<form method="POST">
  {% csrf_token %}
  <div class="input-group mb-3">
    {{ form.email }}
    
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- /.col -->
    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block">Recuperar contrase&ntilde;a</button>
    </div>
    <!-- /.col -->
    {% comment %} <input type="hidden" name="next" value="{{ next }}" style="display:none;" /> {% endcomment %}
  </div>
</form>
{% endblock form_content %}

{% block extra_urls %}
  <p class="mb-1">
    <a href="{% url 'login' %}">Iniciar sesi&oacute;n</a>
  </p>
{% endblock extra_urls %}