{% extends 'registration/base.html' %}

{% block title %}
  <title>SGC | Recuperar contrase&ntilde;a</title>
{% endblock title %}

{% block msg_error %}Las contrase&ntilde;as no coinciden.{% endblock msg_error %}

{% block extra_msgs %}
	{% if not validlink %}
		<div class="alert alert-danger alert-dismissible" >
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				El enlace no es v&aacute;lido o ya fue utilizado previamente.
		</div>
	{% endif %}
{% endblock extra_msgs %}


{% block card_msg %}
  <p class="login-box-msg">Est&aacute;s a solo un paso de tu nueva contrase&ntilde;a!</p>
{% endblock card_msg %}

{% block form_content %}
	{% if validlink %}
		<form method="POST">
			{% csrf_token %}
			<div class="input-group mb-3">
				{{ form.new_password1 }}
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-user"></span>
					</div>
				</div>
			</div>
			<div class="input-group mb-3">
				{{ form.new_password2 }}
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- /.col -->
				<div class="col-12">
					<button type="submit" class="btn btn-primary btn-block">Cambiar contrase&ntilde;a</button>
				</div>
				<!-- /.col -->
				<input type="hidden" name="next" value="{{ next }}" style="display:none;" />
			</div>
		</form>
	{% endif %}
{% endblock form_content %}

{% block extra_urls %}
  <p class="mb-1">
    <a href="{% url 'password_reset' %}">Generar nuevo enlace</a>
  </p>
{% endblock extra_urls %}