{% extends "base_generic.html" %}

{% block title %}<title>Reestablecimiento de contraseña</title>{% endblock %}

{% block content %}
	<h2>Reestablecimiento de contraseña</h2>
	<p>Ingresa tu correo electronico para poder enviarte un enlace unico de reestablecimiento de contraseña:</p>
	<form action="" method="POST">
	{% csrf_token %}
	{% if form.email.errors %}
		{{ form.email.errors }}
	{% endif %}
			<p>{{ form.email }}</p> 
		<input type="submit" class="btn btn-default btn-lg" value="Reestablecer">
	</form>
{% endblock %}
