{% extends "base_template.html" %}

{% block namepage %}Certificados{% endblock %}

{% block content %}
  
  {% if messages or not certificados %}
    <div class="row">
      <div class="col-md-12">
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message }}
          </div>
        {% endfor %}
        {% if not certificados %}
          <div class="alert alert-warning alert-dismissible" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              No hay certificados para la clase seleccionada.
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  

  <div class="row"> 
    <div class="col-md-12">

      {% if clase %}
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Clase seleccionada</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Actividad</th>
                  <th>D&iacute;a</th>
                  <th>Fecha</th>
                  <th>Inicio</th>
                  <th>Fin</th>
                  <th>Empleado</th>
                  <th>Ausencia</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>{{ clase.actividad.nombre }}</td>
                    <td>{{ clase.get_dia_semana_display }}</td>
                    <td>{{ clase.fecha }}</td>
                    <td>{{ clase.horario_desde }}</td>
                    <td>{{ clase.horario_hasta }}</td>
                    <td>{{ clase.empleado }}</td>
                    <td>{{ clase.ausencia.nombre }}</td>
                  </tr>
              </tbody>
            </table>

          </div><!-- /.card-body -->
        </div><!-- /.card -->
      {% endif %}

      {% if certificados %}
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Certificados de la clase</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Motivo</th>
                  <th>Clases afectadas</th>
                  <th>Ver clases</th>
                  <th>Archivo</th>
                  <th>Tama&ntilde;o</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for certificado in certificados %}
                  <tr>
                    <td>{{ certificado.motivo.nombre }}</td>
                    <td>{{ certificado.clases.count }}</td>
                    <td class="text-left py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a href="#" class="btn btn-outline-dark" 
                          view-clases-filter="true"
                          put-results-in="#clases-impacto"
                          data-id="{{certificado.id}}">
                          <i class="fas fa-eye"></i>
                        </a>
                      </div>
                    </td>
                    <td>{{ certificado.filename }}</td>
                    <td>{{ certificado.file.size|filesizeformat }}</td>
                    <td class="text-left py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a href="{{ certificado.file.url }}" target="_blank" class="btn btn-info"><i class="fas fa-download"></i></a>
                        <a href="{{ certificado.get_delete_url|safe }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div><!-- /.card-body -->
        </div><!-- /.card -->
      {% endif %}

      {% if clases_impacto %}
        <div id="card-impacto" class="card card-info collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Clases afectadas</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Actividad</th>
                  <th>D&iacute;a</th>
                  <th>Fecha</th>
                  <th>Inicio</th>
                  <th>Fin</th>
                  <th>Empleado</th>
                  <th>Ausencia</th>
                </tr>
              </thead>
              <tbody id="clases-impacto">
                {% for clase in clases_impacto %}
                  <tr>
                    <td>{{ clase.actividad.nombre }}</td>
                    <td>{{ clase.get_dia_semana_display }}</td>
                    <td>{{ clase.fecha }}</td>
                    <td>{{ clase.horario_desde }}</td>
                    <td>{{ clase.horario_hasta }}</td>
                    <td>{{ clase.empleado }}</td>
                    <td>{{ clase.ausencia.nombre }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div><!-- /.card-body -->
        </div><!-- /.card -->
      {% endif %}
      <br /> <p><a href="javascript: window.history.back();"><i class="fas fa-chevron-circle-left"></i> Volver atras</a></p>
    </div> <!-- principal col -->
  </div> <!-- principal row -->

{% endblock %}

{% block extra_js %}
<!-- for dont charge home js -->
{% load static %}
<!-- dateformat -->
<script src="{%  static 'js/jquery-dateformat.min.js' %}"></script>
<script src="{%  static 'js/certificados.js' %}"></script>
{% endblock %}