{% extends "base_template.html" %}

{% block namepage %}Confirmaci&oacute;n de clases{% endblock %}

{% block route %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
  <li class="breadcrumb-item"><a href="{% url 'clases_view' %}">Monitor</a></li>
  <li class="breadcrumb-item active">Confirmaci&oacute;n de clases</li>
{% endblock route %}

{% block content %}
  
  {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  

  <div class="row"> 
    <div class="col-md-12">

      {% if classes_success %}
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Clases confirmadas</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Actividad</th>
                  <th>D&iacute;a</th>
                  <th>Fecha</th>
                  <th>Inicio</th>
                  <th>Fin</th>
                  <th>Empleado</th>
                  <th>Ausencia</th>
                </tr>
              </thead>
              <tbody>
                {% for clase in classes_success %}
                  <tr>
                    <td>{{ clase.actividad.nombre }}</td>
                    <td>{{ clase.get_dia_semana_display }}</td>
                    <td>{{ clase.fecha }}</td>
                    <td>{{ clase.horario_desde }}</td>
                    <td>{{ clase.horario_hasta }}</td>
                    <td>{{ clase.empleado }}</td>
                    <td>{{ clase.ausencia.nombre }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div><!-- /.card-body -->
        </div><!-- /.card -->
      {% endif %}

      {% if classes_error %}
        <div id="card-impacto" class="card card-danger collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Clases no confirmadas</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Actividad</th>
                  <th>D&iacute;a</th>
                  <th>Fecha</th>
                  <th>Inicio</th>
                  <th>Fin</th>
                  <th>Empleado</th>
                  <th>Ausencia</th>
                </tr>
              </thead>
              <tbody id="clases-impacto">
                {% for clase in classes_error %}
                  <tr>
                    <td>{{ clase.actividad.nombre }}</td>
                    <td>{{ clase.get_dia_semana_display }}</td>
                    <td>{{ clase.fecha }}</td>
                    <td>{{ clase.horario_desde }}</td>
                    <td>{{ clase.horario_hasta }}</td>
                    <td>{{ clase.empleado }}</td>
                    <td>{{ clase.ausencia.nombre }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div><!-- /.card-body -->
        </div><!-- /.card -->
      {% endif %}
      <br /> <p><a href="javascript: window.history.back();"><i class="fas fa-chevron-circle-left"></i> Volver atras</a></p>
    </div> <!-- principal col -->
  </div> <!-- principal row -->

{% endblock %}

{% block extra_js %}
<!-- for dont charge home js -->
{% load static %}
<!-- dateformat -->
<script src="{%  static 'js/jquery-dateformat.min.js' %}"></script>
{% endblock %}