{% extends "base_template.html" %}

{% block namepage %}Lista de empleados{% endblock %}
{% block open_ver %} menu-open {% endblock %}
{% block active_ver_empleados %} active {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    {% if messages %}
      <section id="mensajes">
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message }}
          </div>
          {% endfor %}
        </section>
    {% endif %}
    
    <br>

    <section id="empleados">
      <div class="card card-info">
        <div class="card-header align-middle">
          <h3 class="card-title align-middle">Empleados</h3>
        </div><!-- /.card-header -->
      <div class="card-body">

        <table class="table .table-responsive">
          <thead>
            <tr>
              <th class="align-middle" scope="col">Apellido  <i class="fas fa-sort"></i></th>
              <th class="align-middle" scope="col">Nombre  <i class="fas fa-sort"></i></th>
              <th class="align-middle" scope="col">DNI  <i class="fas fa-sort"></i></th>
              <th class="align-middle" scope="col">Legajo  <i class="fas fa-sort"></i></th>
              <th class="align-middle" scope="col">Empresa  <i class="fas fa-sort"></i></th>
              <th class="align-middle" scope="col">Tipo  <i class="fas fa-sort"></i></th>
              <th class="align-middle" scope="col">Liquidaci&oacute;n  <i class="fas fa-sort"></i></th>
            </tr>
          </thead>
          <tbody>
            {% for empleado in empleados_list %}
              
              <tr>
                <td class="align-middle">{{empleado.apellido|capfirst}}</td>
                <td class="align-middle">{{empleado.nombre|capfirst}}</td>
                <td class="align-middle">{{empleado.dni}}</td>
                <td class="align-middle">{{empleado.legajo}}</td>
                <td class="align-middle">{{empleado.empresa}}</td>
                <td class="align-middle">{{empleado.get_tipo_display}}</td>
                <td class="align-middle">{{empleado.get_liquidacion_display}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- /.card-body -->
    </div><!-- /.card -->
    </section>

    <section id="pagination">
      <nav>
        {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
              <li {% if page_obj.number == i %} class="active" {% endif %}>
                  <a href="?page={{i}}">{{ i }}</a>
              </li>
            {% endfor %}

            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
          </ul>
        {% endif %}
      </nav>
    </section>

  </div> <!-- principal col -->
</div> <!-- principal row -->
{% endblock %}

{% block extra_js %}
<!-- for dont charge home js -->
{% endblock %}