{% extends "base_template.html" %}

{% block namepage %}Creaci&oacute;n/Edici&oacute;n{% endblock %}
{% block open_crear %}menu-open{% endblock %}

{% block content %}
 <div class="row">
    <div class="col-md-12">

	{% if messages %}
		<section id="mensajes">
			{% for message in messages %}
				<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			  		{{ message }}
				</div>
		    {% endfor %}
	    </section>
	{% endif %}
	
	<section id="creacion">
    {% block formulario %}
      <!-- card or another item -->
    {% endblock %}
	</section>

  </div> <!-- principal col -->
</div> <!-- principal row -->

{% endblock %}

{% block extra_js %}
	{% load static %}
	<!-- Bootstrap Switch -->
	<script src="{%  static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

	<script>
		(function() {
		  'use strict';
		  window.addEventListener('load', function() {
		    // Fetch all the forms we want to apply custom Bootstrap validation styles to
		    var forms = document.getElementsByClassName('needs-validation');
		    // Loop over them and prevent submission
		    var validation = Array.prototype.filter.call(forms, function(form) {
		      form.addEventListener('submit', function(event) {
		        if (form.checkValidity() === false) {
		          event.preventDefault();
		          event.stopPropagation();
		        }
		        form.classList.add('was-validated');
		      }, false);
		    });
		  }, false);

		})();
	</script>
	<script>
		$(function(){
			$("input[data-bootstrap-switch]").each(function(){
				$(this).bootstrapSwitch('state', $(this).prop('checked'));
			});
		});
	</script>
{% endblock %}

