{% extends "apps/scg_app/create/base.html" %}

{% block active_programar %}active{% endblock %}

{% block route %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
  <li class="breadcrumb-item active">Programaci&oacute;n</li>
{% endblock route %}

{% block formulario %}

	{% if form %}
		<form method="POST" class="needs-validation" novalidate>
			{% csrf_token %}
			<div class="card card-info">
	      <div class="card-header align-middle">
	        <h3 class="card-title align-middle">Generar programación</h3>
				</div><!-- /.card-header -->

				<div class="card-body">
					{% if locked %}<fieldset disabled>{% endif %}
					<div class="form-row">
						<div class="form-group col-4">
					        <div class="input-group mb-3">
								<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">@</span>
								</div>
								<input id="empleados-search" type="text" name="empleados-search" value="{{search_data.empleado}}" 
									api-model-search="true" model-search="empleados" put-in="empleados-results"
									class="form-control" placeholder="Algún dato del empleado" 
									aria-label="Algún dato del empleado" aria-describedby="basic-addon1" 
									minlength="4" required>
								<div class="invalid-feedback">
					        Escriba al menos 4 caracteres para buscar.
					      </div>
							</div>
						</div>
						<div class="form-group col-8">
			        <div class="input-group mb-3">
								<select id="empleados-results" class="custom-select" name="empleados-results" required>
									{% if empleado_selected %}
										<option value="{{empleado_selected.pk}}" selected="">{{empleado_selected.get_str}}</option>
									{% else %}
										<option value="" selected="">Busque y selecione un empleado...</option>
									{% endif %}
								</select>
								<div class="invalid-feedback">
					        Utilice el cuadro de búsuqeda, presione Enter y luego seleccione un empleado.
					      </div>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-4">
					        <div class="input-group mb-3">
								<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon2">@</span>
								</div>
								<input id="actividades-search" type="text" name="actividades-search" value="{{search_data.actividad}}" 
									api-model-search="true" model-search="actividades" put-in="actividades-results"
									class="form-control" placeholder="Algún dato de la actividad" 
									aria-label="Algún dato de la actividad" aria-describedby="basic-addon2"
									minlength="4" required>
								<div class="invalid-feedback">
					        Escriba al menos 4 caracteres para buscar.
					      </div>
							</div>
						</div>
						<div class="form-group col-8">
					        <div class="input-group mb-3">
								<select id="actividades-results" name="actividades-results" class="custom-select" required>
									{% if actividad_selected %}
										<option value="{{actividad_selected.pk}}" selected="">{{actividad_selected.get_str}}</option>
									{% else %}
										<option value="" selected="">Busque y selecione una actividad...</option>
									{% endif %}
								</select>
								<div class="invalid-feedback">
					        Utilice el cuadro de búsuqeda, presione Enter y luego seleccione una actividad.
					      </div>
							</div>
						</div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-4">
					        <div class="input-group mb-3">
								<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">@</span>
								</div>
								<input id="sedes-search" type="text" name="sedes-search" value="{{search_data.sede}}" 
									api-model-search="true" model-search="sedes" put-in="sedes-results"
									class="form-control" placeholder="Algún dato de la sede" 
									aria-label="Algún dato de la sede" aria-describedby="basic-addon23"
									minlength="4" required>
								<div class="invalid-feedback">
					        Escriba al menos 4 caracteres para buscar.
					      </div>
							</div>
						</div>
						<div class="form-group col-8">
					        <div class="input-group mb-3">
								<select id="sedes-results" name="sedes-results" class="custom-select" required>
									{% if sede_selected %}
										<option value="{{sede_selected.pk}}" selected="">{{sede_selected.get_str}}</option>
									{% else %}
										<option value="" selected="">Busque y selecione una sede...</option>
									{% endif %}
								</select>
								<div class="invalid-feedback">
					        Utilice el cuadro de búsuqeda, presione Enter y luego seleccione una sede.
					      </div>
							</div>
						</div>
					</div>

					<div class="form-row text-center">
						<div class="form-group col-md-3 col-lg-3">
							<label for="dia_inicio">Día inicio</label>
							{{form.fecha_desde}}
							<div class="invalid-feedback">
				        Ingrese una fecha de inicio.
				      </div>
						</div>
						<div class="form-group col-md-3 col-lg-3">
							<label for="dia_fin">Día Fin</label>
							{{form.fecha_hasta}}
							<div class="invalid-feedback">
				        Ingrese una fecha de fin.
				      </div>
						</div>
						<div class="form-group col-md-3 col-lg-3">
							<label for="hora_inicio">Hora inicio</label>
							{{form.horario_desde}}
							<div class="invalid-feedback">
				        Ingrese una hora de inicio.
				      </div>
						</div>
						<div class="form-group col-md-3 col-lg-3">
							<label for="hora_fin">Hora fin</label>
							{{form.horario_hasta}}
							<div class="invalid-feedback">
				        Ingrese una hora de fin.
				      </div>
						</div>
					</div>

					<div class="form-row text-center pt-2 mb-0">
						<div class="form-group col-md-12 col-lg-12 mb-0">	
							<!--<label for="">Día de la semana: &nbsp;&nbsp;</label>-->
							{% for dia in form.weekdays %}
								<div class="form-check form-check-inline" required>
									{{ dia }}
								</div>
							{% endfor %}
						</div>
					</div>
					{% if locked %}</fieldset>{% endif %}
				</div><!-- /.card-body -->
				<div class="card-footer text-center">
          <button type="submit" class="btn btn-info" {% if locked %}disabled{% endif %}>Generar programaci&oacute;n</button>
					<a class="btn btn-secondary" href="javascript: window.history.back();" role="button">Atras</a>
        </div>
        <!-- /.card-footer -->
    	</div><!-- /.card -->
    </form>
	{% endif %}

{% endblock %}