{% extends "apps/scg_app/create/base.html" %}

{% block active_saldo %}active{% endblock %}

{% block formulario %}
	{% if form %}
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<form method="POST" class="needs-validation" novalidate>
					{% csrf_token %}
					<div class="card card-info">
			      <div class="card-header align-middle">
			        <h3 class="card-title align-middle">Generar/Editar saldo</h3>
						</div><!-- /.card-header -->

						<div class="card-body">
							<div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                  <label for="sede">Sede</label>
                  <select id="sede" class="form-control custom-select" name="sede" required>
										{% for sede in form.sede %}
				              {{ sede }}
				            {% endfor %}
									</select>
									<div class="invalid-feedback">
						        Debe seleccionar una sede.
						      </div>
                </div>
                 
                <div class="form-group col-md-6 col-sm-12">
                  <label for="actividad">Actividad</label>
                  <select id="actividad" class="form-control custom-select" name="actividad" required>
										{% for actividad in form.actividad %}
				              {{ actividad }}
				            {% endfor %}
									</select>
									<div class="invalid-feedback">
						        Debe seleccionar una actividad.
						      </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                  <label for="desde">Desde</label>
                  {{form.desde}}
                  <div class="invalid-feedback">
						        Debe indicar una fecha de inicio.
						      </div>
                </div>
                 
                <div class="form-group col-md-6 col-sm-12">
                  <label for="hasta">Hasta</label>
                  {{form.hasta}}
                  <div class="invalid-feedback">
						        Debe indicar una fecha de fin.
						      </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-12">
                	<label for="saldo_asignado">Valor</label>
                	{{form.saldo_asignado}}
                	<div class="invalid-feedback">
						        Debe especificar un valor mayor a 0.
						      </div>
                </div>
              </div>

						</div><!-- /.card-body -->
						<div class="card-footer text-center">
		          <input class="btn btn-info" type="submit" value="Guardar">
		          <a class="btn btn-secondary" href="javascript: window.history.back();" role="button">Atras</a>
		        </div>
		        <!-- /.card-footer -->
		    	</div><!-- /.card -->
		    </form>

			</div>
			<div class="col-md-2"></div>
		</div>
		
	{% endif %}
{% endblock %}