{% extends "base_generic.html" %}

{% block title %}<title>Agregar Marcaje</title>{% endblock %}

{% block content %}

		<style type="text/css">
			td{
				border-style: solid;
				border-width: thin;
				text-align: center;
				padding-left: 3px;
				padding-right: 3px;
			}
		</style>

		{% if marcajes %}
			<div>Para el empleado {{marcajes.0.empleado}} en el dia {{marcajes.0.fecha}} se registran los siguientes marcajes:<br />
			{% for marcaje in marcajes %}
				{{marcaje.entrada}} - {{marcaje.salida}}<br />
			{% endfor %}
		{% else %}
			<h1>No se encuentran marcajes para esta fecha!</h1>
		{% endif %}
		{% if clases %}
			<p>
				<div>Las siguientes clases entran de los rangos de los marcajes:</div>
			</p>
			<ul>
			{% for clase in clases %}
				<li>Clase de {{clase.actividad|capfirst}}, de {{clase.horario_desde}} a {{clase.horario_hasta}}, dictada por {{clase.empleado}} el {{clase.fecha_desde}}</li>
			{% endfor %}
			</ul>
		{% endif %}
		<br />

		{% if form %}
		<form method="POST">
		{% csrf_token %}
		{% for field in form %}
			<p>{{ field.label_tag }}
				{{ field }}
				{% if field.help_text %}
					<br /><small style="color: grey">{{ field.help_text }}</small>
				{% endif %}
				{% for error in field.errors %}
					<div style="color: red">{{ error }}</div>
				{% endfor %}
			</p>
		{% endfor %}
		<input type="submit" value="Agregar Marcaje" />
		</form>
		<p>Solo se puede agregar un marcaje (cuando sea necesario) por sesion. <a href="{% url 'filtro' %}">Volver a los filtros</a></p>
		{% endif %}
		{% if status %}
		<script type="text/javascript">alert('{{ status }}');</script>
		{% endif %}

{% endblock %}