{% extends "base_generic.html" %}

{% block title %}<title>Confirmar Reemplazo</title>{% endblock %}

{% block content %}

		<style type="text/css">
			td{
				border-style: solid;
				border-width: thin;
				text-align: center;
				padding-left: 3px;
				padding-right: 3px;
			}
		</style>

	{% if status %}
		<h1 style="text-align: center;">{{ status }}</h1><br />
	{% endif %}

	{% if reemplazos %}
	{% for reemplazo in reemplazos %}
		<div>{{ reemplazo }}</div><br />
	{% endfor %}
	{% elif resultados %}
		#
	{% endif %}

{% endblock %}