{% extends "base_generic.html" %}

{% block title %}<title>Gestionar Reemplazos</title>{% endblock %}

{% block content %}

	{% if alert_js %}
		<script type="text/javascript">
			alert('{{ alert_js }}');
		</script>
	{% endif %}

	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  		{{ message }}
			</div>
	    {% endfor %}
	{% endif %}
		
	{% if reemplazos %}
		<ul>
			{% for reemplazo in reemplazos %}
				<li>{{ reemplazo }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	{% if clases_to_edit %}
		<p> Se asignar&aacute; un motivo de ausencia a la/s clase/s:</p>
		{% for clase_to_edit in clases_to_edit %}
			<p>{{ clase_to_edit }}</p>
		{% endfor %}
	{% endif %}

	{% if form %}

		<form method="POST">
			{% csrf_token %}
			{% for field in form %}

				<div class="form-group">
					{{ field.label_tag }}
					{{ field }}

					{% if field.help_text %}
						<small class="form-text text-muted">{{ field.help_text }}</small>
					{% endif %}
					
					{% for error in field.errors %}
						<div style="color: red">{{ error }}</div>
					{% endfor %}

				</div>
				
			{% endfor %}
			<button type="submit" class="btn btn-primary">Cargar Ausencia</button>
		</form>

		<br /> <p><a href="{% url 'filtro' %}">Volver a los filtros</a></p>
	{% endif %}

{% endblock %}