{% extends "base_generic.html" %}

{% block title %}<title>Hello world!</title>{% endblock %}


{% block content %}
  

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 style="text-align:center;" id="testStor">Clases por actividad </h5>
      <canvas id="myChart" class="graph-actividad"></canvas>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 style="text-align:center;" id="delStor">Clases por sede </h5>
      <canvas id="graph-sedes" class="graph-actividad"></canvas>
    </div>
  </div>
</div>
  
  
{% endblock %}


{% block extra_js %}

  <script>
   
  </script>

{% endblock %}