{% extends "base_generic.html" %}

{% block title %}<title>Elegir Tabla para importar manualmente</title>{% endblock %}

{% block content %}
	
	<div>
		<ul>
			<li>
				<a href="{% url 'pull_empleados'%}">Hacer request para obtener Empleados</a>
			</li>
			<li>
				<a href="{% url 'pull_sedes'%}">Hacer request para obtener Sedes</a>
			</li>
			<li>
				<a href="{% url 'pull_clockings'%}">Hacer request para obtener Marcajes</a>
			</li>
			<li>
				<a href="{% url 'auto_clockings'%}">auto_clockings</a>
			</li>
		</ul>
	
	</div>

{% endblock %}
