{% extends "base_template.html" %}

{% block extra_css %}
{% load static %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{%  static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{%  static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block namepage %}Listado de datos{% endblock %}
{% block open_ver %} menu-open {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    {% if messages %}
      <section id="mensajes">
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe }}
          </div>
        {% endfor %}
      </section>
    {% endif %}

    <section id="results">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            {% block tableName %}&nbsp;{% endblock %}
          </h3>
            <div class="card-tools">
              {% block generar_btn %}{% endblock %}
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="data-table" class="table table-bordered table-striped table-sm table-responsive-sm">
            <thead>
              {% block tableHeaders %}
                <!-- tr and th's-->
              {% endblock %}
            </thead>
            <tbody>
              {% block tableBody %}
                <!-- tr and td's-->
              {% endblock %}
            </tbody>
            <tfoot>
              {% block tableFooter %}
                <!-- tr and th's-->
              {% endblock %}
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>

  </div> <!-- principal col -->
</div> <!-- principal row -->
{% endblock %}

{% block extra_js %}
{% load static %}

<script src="{%  static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{%  static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{%  static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{%  static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#data-table").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}