{% extends "apps/scg_app/list/base.html" %}

{% block active_ver_periodos %} active {% endblock %}

{% block route %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
  <li class="breadcrumb-item active">Periodos</li>
{% endblock route %}

{% block tableName %}Periodos{% endblock %}

{% block generar_btn %}
  <a href="{% url 'periodo_create' %}" class="btn btn-outline-dark">Generar periodo</a>
{% endblock %}

{% block tableHeaders %}
  <tr>
    <th>Liberado</th>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Acciones</th>
  </tr>
{% endblock %}

{% block tableBody %}
  {% for periodo in periodos_list %}
    <tr>
      <td class="align-middle">
        {% if periodo.bloqueado %}
          <i class="fas fa-times-circle" ></i>
        {% else %}
          <i class="fas fa-check-circle"></i>
        {% endif %}
      </td>

      <td class="align-middle">{{periodo.desde}}</td>
      <td class="align-middle">{{periodo.hasta}}</td>

      <td class="py-0 align-middle">
        <div class="btn-group btn-group-sm">
        
          <a href="{{ periodo.get_edit_url|safe }}" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a>

          {% if periodo.bloqueado %}
            <a href="{{ periodo.get_liquid_mono_url|safe }}" class="btn btn-outline-dark">
              <i class="fas fa-file-download"></i> MT</a>
            
            <a href="{{ periodo.get_liquid_rd_url|safe }}" class="btn btn-outline-dark">
              <i class="fas fa-file-download"></i> RD</a>
            
            <a href="#" class="btn btn-danger disabled" role="button" aria-disabled="true">
              <i class="fas fa-trash"></i>
            </a>
          {% else %}
            <a href="{{ periodo.get_delete_url|safe }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
          {% endif %}
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block tableFooter %}
  <tr>
    <th>Liberado</th>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Acciones</th>
  </tr>
{% endblock %}
