{% extends "apps/scg_app/list/base.html" %}

{% block active_ver_program %} active {% endblock %}

{% block route %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
  <li class="breadcrumb-item active">Programaciones</li>
{% endblock route %}

{% block tableName %}Programaciones{% endblock %}
{% block generar_btn %}
  <a href="{% url 'programar' %}" class="btn btn-outline-dark">Generar programaci&oacute;n</a>
{% endblock %}

{% block tableHeaders %}
  <tr>
    <th>Empleado</th>
    <th>Sede</th>
    <th>Actividad</th>
    <th>D&iacute;a/s</th>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Hora Inicio</th>
    <th>Hora Fin</th>
    <th>Acciones</th>
  </tr>
{% endblock %}

{% block tableBody %}
  {% for programacion in programaciones_list %}
    <tr>
      <td class="align-middle">{{programacion.empleado|capfirst}}</td>
      <td class="align-middle">{{programacion.sede.nombre|capfirst}}</td>
      <td class="align-middle">{{programacion.actividad.nombre|capfirst}}</td>
      <td class="align-middle">{{programacion.get_dias_str}}</td>
      <td class="align-middle">{{programacion.fecha_desde}}</td>
      <td class="align-middle">{{programacion.fecha_hasta}}</td>
      <td class="align-middle">{{programacion.horario_desde}}</td>
      <td class="align-middle">{{programacion.horario_hasta}}</td>
      <td class="py-0 align-middle">
        <div class="btn-group btn-group-sm">
          <a href="{{ programacion.get_edit_url|safe }}" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a>

          {% if programacion.locked %}
            <a href="#" class="btn btn-danger disabled" role="button" aria-disabled="true">
              <i class="fas fa-trash"></i>
            </a>
          {% else %}
            <a href="{{ programacion.get_delete_url|safe }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
          {% endif %}
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block tableFooter %}
  <tr>
    <th>Empleado</th>
    <th>Sede</th>
    <th>Actividad</th>
    <th>D&iacute;a/s</th>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Hora Inicio</th>
    <th>Hora Fin</th>
    <th>Acciones</th>
  </tr>
{% endblock %}

