{% extends "apps/scg_app/list/base.html" %}

{% block active_ver_saldos %} active {% endblock %}

{% block tableName %}Saldos{% endblock %}

{% block generar_btn %}
  <a href="{% url 'generar_saldo' %}" class="btn btn-outline-dark">Generar saldo</a>
{% endblock %}

{% block tableHeaders %}
  <tr>
    <th>Sede</th>
    <th>Actividad</th>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Asignado</th>
    <th>Disponible</th>
    <th>Acciones</th>
  </tr>
{% endblock %}

{% block tableBody %}
  {% for saldo in saldos_list %}
    <tr>
      <td class="align-middle">{{saldo.sede|capfirst}}</td>
      <td class="align-middle">{{saldo.actividad|capfirst}}</td>
      <td class="align-middle">{{saldo.desde}}</td>
      <td class="align-middle">{{saldo.hasta}}</td>
      <td class="align-middle">{{saldo.saldo_asignado}}</td>
      <td class="align-middle">{{saldo.saldo_disponible}}</td>
      <td class="py-0 align-middle">
        <div class="btn-group btn-group-sm">
          <a href="{{ saldo.get_edit_url|safe }}" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a>
          <a href="{{ saldo.get_delete_url|safe }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
        </div>
      </td>

    </tr>
  {% endfor %}
{% endblock %}

{% block tableFooter %}
  <tr>
    <th>Sede</th>
    <th>Actividad</th>
    <th>Desde</th>
    <th>Hasta</th>
    <th>Asignado</th>
    <th>Disponible</th>
    <th>Acciones</th>
  </tr>
{% endblock %}
