{% extends "base_template.html" %}

{% block namepage %}Inicio{% endblock %}
{% block active_home %}active{% endblock %}

{% block content %}
  
  {% if messages or not certificados %}
    <div class="row">
      <div class="col-md-12">
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  
  {% comment %} <h5 class="mb-2">Informaci&oacute;n semanal</h5> {% endcomment %}
  <div class="row">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-info"><i class="fas fa-info-circle"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Clases</span>
          <span class="info-box-number">{{conteo.programadas}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-success"><i class="fas fa-check-circle" style="color:white !important;"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Realizadas</span>
          <span class="info-box-number">{{conteo.realizadas}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-warning"><i class="fas fa-exclamation-circle" style="color:white !important;"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Reemplazos</span>
          <span class="info-box-number">{{conteo.reemplazos}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-danger"><i class="fas fa-times-circle" style="color:white !important;"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Ausencias</span>
          <span class="info-box-number">{{conteo.ausencias}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  {% comment %} <h5 class="mb-2">Gr&aacute;ficos</h5> {% endcomment %}
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Resumen de clases</h5>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            {% comment %} <div class="btn-group">
              <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-wrench"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <a href="#" class="dropdown-item">Action</a>
                <a href="#" class="dropdown-item">Another action</a>
                <a href="#" class="dropdown-item">Something else here</a>
                <a class="dropdown-divider"></a>
                <a href="#" class="dropdown-item">Separated link</a>
              </div>
            </div> {% endcomment %}
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center">
                <strong>Resumen de Clases</strong>
              </p>

              <div class="chart">
                <!-- Sales Chart Canvas -->
                <canvas id="months-chart" height="180" style="height: 180px;"></canvas>
              </div>

              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <p class="text-center">
                <strong>Resumen</strong>
              </p>

              <div class="progress-group">
                Pendientes
                <span class="float-right"><b>{{conteo.pendientes}}</b>/{{conteo.programadas}}</span>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-primary" style="width: calc( ({{conteo.pendientes}} / {{conteo.programadas}}) * 100%)"></div>
                </div>
              </div>
              <!-- /.progress-group -->

              <div class="progress-group">
                Ausencias 
                <span class="float-right"><b>{{conteo.ausencias}}</b>/{{conteo.programadas}}</span>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-danger" style="width: calc( ({{conteo.ausencias}} / {{conteo.programadas}}) * 100%)"></div>
                </div>
              </div>

              <!-- /.progress-group -->
              <div class="progress-group">
                <span class="progress-text">Realizadas</span>
                <span class="float-right"><b>{{conteo.realizadas}}</b>/{{conteo.programadas}}</span>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-success" style="width: calc( ({{conteo.realizadas}} / {{conteo.programadas}}) * 100%)"></div>
                </div>
              </div>

              <!-- /.progress-group -->
              <div class="progress-group">
                Reemplazos
                <span class="float-right"><b>{{conteo.reemplazos}}</b>/{{conteo.programadas}}</span>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-warning" style="width: calc( ({{conteo.reemplazos}} / {{conteo.programadas}}) * 100%)"></div>
                </div>
              </div>
              <!-- /.progress-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./card-body -->
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-3 col-6">
              <div class="description-block border-right">
                <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span>
                <h5 class="description-header">160</h5>
                <span class="description-text">Planificadas</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block border-right">
                <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span>
                <h5 class="description-header">200</h5>
                <span class="description-text">Reemplazos</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block border-right">
                <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span>
                <h5 class="description-header">480</h5>
                <span class="description-text">Realizadas</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block">
                <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span>
                <h5 class="description-header">60</h5>
                <span class="description-text">Ausencias</span>
              </div>
              <!-- /.description-block -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>

  </div>
  <!-- /.row -->

{% endblock %}

{% block extra_js %}
  {% load static %}
  <script src="{%  static 'js/jquery-dateformat.min.js' %}"></script>
  <script src="{%  static 'js/index.js' %}"></script>
{% endblock %}