{% extends "apps/scg_app/create/base.html" %}

{% block active_programar %}active{% endblock %}

{% block route %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
  <li class="breadcrumb-item active">Programaci&oacute;n</li>
{% endblock route %}

{% block formulario %}
	{% if form %}
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<form method="POST">
					{% csrf_token %}

					<div class="card card-info">
			      <div class="card-header align-middle">
			        <h3 class="card-title align-middle">Editar programación</h3>
						</div><!-- /.card-header -->

						<div class="card-body">

							<fieldset disabled>
								<div class="form-row">
							    <div class="form-group col-md-4">
							      <label for="disabledEmpleado">Empleado</label>
							      <input type="text" id="disabledEmpleado" class="form-control" placeholder="{{empleado}}">
							    </div>
							    <div class="form-group col-md-4">
							      <label for="disabledSede">Sede</label>
							      <input type="text" id="disabledSede" class="form-control" placeholder="{{sede}}">
							    </div>
							    <div class="form-group col-md-4">
							      <label for="disabledActividad">Actividad</label>
							      <input type="text" id="disabledActividad" class="form-control" placeholder="{{actividad}}">
							    </div>
						    </div>
							</fieldset>

							<div class="form-row">
                <div class="form-group col-md-6 col-lg-6">
									<label for="dia_inicio">Día inicio</label>
									{{form.fecha_desde}}
								</div>
								<div class="form-group col-md-6 col-lg-6">
									<label for="dia_fin">Día Fin</label>
									{{form.fecha_hasta}}
								</div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6 col-lg-6">
									<label for="hora_inicio">Hora inicio</label>
									{{form.horario_desde}}
								</div>
								<div class="form-group col-md-6 col-lg-6">
									<label for="hora_fin">Hora fin</label>
									{{form.horario_hasta}}
								</div>
              </div>

              <div class="form-row text-center">
                <div class="form-group col-md-12 col-lg-12 mb-0">	
									<!--<label for="">Día de la semana: &nbsp;&nbsp;</label>-->

									{% for dia in form.weekdays %}
										<div class="form-check form-check-inline">
											{{ dia }}
										</div>
									{% endfor %}

								</div>
              </div>

						</div><!-- /.card-body -->
						<div class="card-footer text-center">
		          <input class="btn btn-info" type="submit" value="Guardar">
		          <a class="btn btn-secondary" href="javascript: window.history.back();" role="button">Atras</a>
		        </div>
		        <!-- /.card-footer -->
		    	</div><!-- /.card -->
		    </form>

			</div>
			<div class="col-md-2"></div>
		</div>
		
	{% endif %}
{% endblock %}