{% extends "base_template.html" %}

{% block extra_css %}
  {% load static %}

  <!-- fullCalendar -->
  <link rel="stylesheet" href="{% static 'plugins/fullcalendar/main.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fullcalendar-daygrid/main.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fullcalendar-timegrid/main.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fullcalendar-bootstrap/main.min.css' %}">

  <style type="text/css">
    .fc-content{
      /*text-shadow: #2e2e2e 10px 0 10px;*/
      background-color: rgba(150,150,150,0.15);
    }
  </style>

{% endblock extra_css %}

{% block active_sede_calendar %} active {% endblock active_sede_calendar %}

{% block namepage %}Calendario de Sede{% endblock %}

{% block route %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
  <li class="breadcrumb-item active">Calendario</li>
{% endblock route %}

{% block content %}
  
  {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Selecci&oacute;n de Sede</h4>
        </div>
        <div class="card-body">
          <!-- the events -->
          <div id="external-events">
            <form method="POST" name="filtro-sedes" id="filtro-sedes">
            {% csrf_token %}
              {% for sede in sedes %}
                {% comment %} <div class="external-event bg-info">{{ sede.nombre }}</div> {% endcomment %}
                <button type="button" class="btn btn-outline-dark btn-block" sede-filter="true" sede-name="{{sede.nombre}}">
                  {{ sede.nombre }}</button>
              {% endfor %}
            </form>
          </div>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col -->
    <div class="col-md-9">
      <div class="card card-primary">
        <div class="card-body p-0">
          <!-- THE CALENDAR -->
          <div id="calendar"></div>
        </div><!-- /.card-body -->
        <div class="overlay" style="display:none;"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
      </div><!-- /.card -->
    </div><!-- /.col -->
  </div><!-- /.row -->
{% endblock %}

{% block extra_js %}
  {% load static %}

  <!-- dateformat -->
  <script src="{%  static 'js/jquery-dateformat.min.js' %}"></script>

  <!-- fullCalendar 2.2.5 -->
  <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar/main.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar-daygrid/main.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar-timegrid/main.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar-interaction/main.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar-bootstrap/main.min.js' %}"></script>

  <script src="{%  static 'js/calendario.min.js' %}"></script>

{% endblock %}