{% extends "base_template.html" %}

{% block namepage %}Edición de clase{% endblock %}

{% block route %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
  <li class="breadcrumb-item"><a href="{% url 'clases_view' %}">Monitor</a></li>
  <li class="breadcrumb-item active">Editar clase</li>
{% endblock route %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% if messages %}
        <section id="mensajes">
          {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe }}
            </div>
            {% endfor %}
          </section>
      {% endif %}

      {% if form %}
  
        <div class="row">
          <div class="col-md-2 col-xs-1 col-sm-1"></div>
          <div class="col-md-8 col-xs-10 col-sm-10">
            <form method="post">{% csrf_token %}
              
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Datos de la clase</h3>
                </div>
                <div class="card-body">
                {% if locked %}<fieldset disabled>{% endif %}
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Inicio</label>
                        {{ form.horario_desde }}
                        <!--<input type="text" class="form-control" placeholder="Enter ...">-->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Fin</label>
                        {{ form.horario_hasta }}
                        <!--<input type="text" class="form-control" placeholder="Enter ..." disabled>-->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- textarea -->
                      <div class="form-group">
                        <label>Comentario</label>
                        {{ comment_form.comentario }}
                        <!--<textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>-->
                      </div>
                    </div>
                  </div>
                  {% if locked %}</fieldset>{% endif %}

                </div><!-- /.card-body -->
                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-info" {% if locked %}disabled{% endif %}>Confirmar</button>
                  <a class="btn btn-secondary" href="javascript: window.history.back();" role="button">Volver</a>
                </div>
                <!-- /.card-footer -->

              </div><!-- /.card -->
              
            </form>
          </div><!-- /.col -->
          <div class="col-md-2 col-xs-1 col-sm-1"></div>
        </div><!-- /.row -->
        
      {% endif %}

    </div> <!-- principal col -->
  </div> <!-- principal row -->

{% endblock %}

{% block extra_js %}
<!-- for dont charge home js -->
{% endblock %}