{% extends "base_template.html" %}

{% block namepage %}Gesti&oacute;n de marcajes{% endblock %}

{% block route %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
  <li class="breadcrumb-item"><a href="{% url 'clases_view' %}">Monitor</a></li>
  <li class="breadcrumb-item active">Marcajes</li>
{% endblock route %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    {% if messages %}
      <section id="mensajes">
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe }}
          </div>
          {% endfor %}
        </section>
    {% endif %}
    
    {% if form %}
      <div class="card card-primary">
        <div class="card-header align-middle">
          <h3 class="card-title align-middle">Agregar marcaje y/o recalcular el d&iacute;a</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">
          <form method="POST">{% csrf_token %}
            {% if day_locked %}<fieldset disabled>{% endif %}
            <div class="form-row">
              <div class="form-group-inline col-md-7 col-lg-7">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Hora del marcaje</span>
                </div>
                {{form.hora_marcaje}}
              </div>
              </div>

              <div class="form-group-inline col-md-5 col-lg-5 text-center">
                <input class="btn btn-primary" type="submit"  name="add_marcaje" value="Agregar y recalcular" {% if day_locked or lock_add %}disabled{% endif %}>
                <input class="btn btn-secondary" type="submit"  name="recalcular" value="Solo recalcular" {% if day_locked or lock_recalculate %}disabled{% endif %}>
              </div>
            </div>
            {% if day_locked %}</fieldset>{% endif %}
          </form>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    {% endif %}

    <div class="row">
      <div class="col-md-7">
        <section id="clases ">
          <div class="card card-info">
            <div class="card-header align-middle">
              <h3 class="card-title align-middle">Clases del d&iacute;a</h3>
            </div><!-- /.card-header -->
            <div class="card-body">

              <table class="table .table-responsive .table-bordered">
                <thead>
                  <tr>
                    <th class="align-middle" scope="col">Sede</th>
                    <th class="align-middle" scope="col">Actividad</th>
                    <th class="align-middle" scope="col">Inicio</th>
                    <th class="align-middle" scope="col">Fin</th>
                    <th class="align-middle" scope="col">Presencia</th>
                  </tr>
                </thead>
                <tbody>
                  {% for clase in day_classes %}
                    <tr>
                      <td class="align-middle">{{clase.sede}}</td>
                      <td class="align-middle">{{clase.actividad}}</td>
                      <td class="align-middle">{{clase.horario_desde}}</td>
                      <td class="align-middle">{{clase.horario_hasta}}</td>
                      <td class="align-middle">
                        {% if clase.was_made %}
                          <i class="fas fa-check-circle" style="color: green !important;"></i>
                        {% else %}
                          <i class="fas fa-times-circle" style="color: red !important;"></i>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </section><!-- /.clases -->
      </div>
      
      <div class="col-md-5">
        <section id="marcajes ">
          <div class="card card-info">
            <div class="card-header align-middle">
              <h3 class="card-title align-middle">Bloques de presencia</h3>
            </div><!-- /.card-header -->
            <div class="card-body">
              <table class="table .table-responsive .table-bordered">
                <thead>
                  <tr>
                    <th class="align-middle" scope="col">Entrada</th>
                    <th class="align-middle" scope="col">Salida</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bloque in day_blocks %}
                    <tr>
                      <td class="align-middle">
                        {% if bloque.inicio %}
                          {{bloque.inicio.hora}} &nbsp;
                          {% if day_locked or lock_delete or bloque.inicio.usuario != user and not user.is_superuser %}
                            <a href="#" role="button" class="btn-link disabled" aria-disabled="true">
                              <i class="fas fa-minus-circle"></i>
                            </a>
                          {% else %}
                            <a href="{{ bloque.inicio.get_delete_url|safe }}" role="button" class="btn-link">
                              <i class="fas fa-minus-circle" style="color: red !important;"></i>
                            </a>
                          {% endif %}
                        {% else %}
                          <i class="fas fa-exclamation-circle" style="color: orange !important;"></i>
                        {% endif %}
                      </td>
                      
                      <td class="align-middle">
                        {% if bloque.fin %}
                          {{bloque.fin.hora}} &nbsp;
                          {% if day_locked or lock_delete or bloque.fin.usuario != user and not user.is_superuser %}
                            <a href="#" role="button" class="btn-link disabled" aria-disabled="true">
                              <i class="fas fa-minus-circle"></i>
                            </a>
                          {% else %}
                            <a href="{{ bloque.fin.get_delete_url|safe }}" role="button" class="btn-link">
                              <i class="fas fa-minus-circle" style="color: red !important;"></i>
                            </a>
                          {% endif %}
                        {% else %}
                          <i class="fas fa-exclamation-circle"></i>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div><!-- /.card-body -->
          </div><!-- /.card -->
        </section><!-- /.marcajes -->
      </div>
    </div>

    <br />
    <p><a href="javascript: window.history.back();" class="btn btn-outline-dark" role="button">
      <i class="fas fa-chevron-circle-left"></i> Volver atr&aacute;s
    </a></p>
  </div> <!-- principal col -->
</div> <!-- principal row -->

{% endblock %}

{% block extra_js %}
<!-- for dont charge home js -->
{% endblock %}